<div class="celeste">
    <div class="col-6 container ">
        <div class="card text-center celeste">
            <div class="card-body text-center">
                <h2> Pagar Ahora con Mercadopago</h2>
                <h3>(Selecciones el valor de su GifCard)</h3>
                <img width="60%" src="../../../assets/logoNegro.PNG" alt="" class="fotoGift">
                <br><br>
                <form action="http://localhost:3005/checkout" method="POST">
                    <input (click)="progreso" class="col-9" type="range" name="price" [value]="getPrecio" min="0" max="10000" step="100">
                    <br><br>
                    <div class="input-group col-12 text-center">
                        <div class="input-group-btn">
                            <button class="btn btn-dark" type="button" (click)="cambiaValor(-100)">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                        <label type="text" class="form-control text-center">AR$ {{getPrecio}}</label>
                        <div class="input-group-btn">
                            <button class="btn btn-dark" type="button" (click)="cambiaValor(100)">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <input type="hidden" name="fecha" [value]="hoy">
                    <input type="hidden" name="id" value="60f8318970549e0a34ba78fc">
                    <input type="hidden" name="title" value="GiftCard">
                    <br>
                    <input type="submit" value="Pagar" class="btn btn-dark col-6">
                </form>
            </div>
        </div>
    </div>
</div>