<div class="row text-center">
    <div class="col-12 text-center">
        <div class="card text-center">
            <div class="card-body text-center">
                <h2> Selecciones el valor de su GifCard</h2>
                <img src="../../../assets/images/card.PNG" alt="">
                <br><br>
                <form action="http://localhost:3005/checkout" method="POST">
                    <input (click)="progreso" class="col-12" type="range" name="price" [value]="getPrecio" min="0" max="10000" step="100">
                    <br><br>
                    <div class="input-group col-6 text-center">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button" (click)="cambiaValor(-100)">
                                <i class="fa fa-minus"></i>
                            </button>
                        </span>
                        <label type="text" class="form-control">AR$ {{progreso}}</label>
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button" (click)="cambiaValor(100)">
                                <i class="fa fa-plus"></i>
                            </button>
                        </span>
                    </div>
                    <input type="hidden" name="" value="2500">
                    <input type="hidden" name="title" value="GiftCard front">
                    <br>
                    <input type="submit" value="Regalar" class="btn btn-primary col-4">
                </form>
            </div>
        </div>
    </div>
</div>