<div class="row row-cols-4 text-center ">
    <div class="col">
        <div class="card h-100">
            <img src="../../../assets/home1.PNG" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Gift Card</h5>
                <h1 class="text-center">$500</h1>
                <button class="btn btn-primary" routerLink="/login">Regalar</button>
                <!-- <form action="http://localhost:3005/checkout" method="POST">
                    <input type="hidden" name="price" value="2500">
                    <input type="hidden" name="title" value="GiftCard">
                    <input type="submit" value="Regalar" class="btn btn-primary form-control ">
                </form> -->
            </div>
        </div>
    </div>
</div>