<legend class="text-white">Quiero recibir "Gift Card Hernando" en mi comercio</legend>
<hr>
<br>

<div class="row animated fadeIn text-white">
    <div class="col-6 ">

        <form [formGroup]="tengoComForm " (submit)="enviar()">
            <div class="mb-3 ">
                <label>Nombre del Comercio</label>
                <input type="text " class="form-control " placeholder="Nombre... " formControlName="nombre">
            </div>
            <div class="mb-3 ">
                <label>Direccion</label>
                <input type="text " class="form-control " placeholder="Direccion... " formControlName="direccion">
            </div>
            <div class="mb-3 ">
                <label>Telefono</label>
                <input type="text " class="form-control " placeholder="Telefono... " formControlName="telefono">
            </div>
            <div class="mb-3 ">
                <label>Email</label>
                <input type="email " class="form-control " placeholder="XXX@... " formControlName="email">
            </div>
            <div class="form-group text-center ">
                <button [disabled]="tengoComForm.invalid " type="submit " class="btn btn-primary w-25 ">
                <i class="fa fa-share-square "></i>
                Enviar          
                </button>
            </div>
        </form>
    </div>
</div>