<div class="fpdiv">
    <div class="container">
        <h1 class="text-white">La experiencia de regalar</h1>
        <hr>
        <h4 class="text-white">
            GIFTCARDS Hernando es la mayor empresa de tarjetas regalo que se ocupa integralmente de todas las etapas que componen la cadena de valor: la emisión, el procesamiento, la comercialización y la distribución. Somos una empresa local con mas de 5 años en
            el rubro que brinda las mejores soluciones particulares y empresariales.
            <br><br>

        </h4>
    </div>


    <div class="row mb-5 text-white">
        <div class="col-md-3">
            <div class="dbox w-100 text-center">
                <div class="icon d-flex align-items-center justify-content-center">
                    <span class="fa fa-map-marker"></span>
                </div>
                <div class="text">
                    <p><span>Direccion:</span> 1º de Mayo 378 - Hernando - Argentina</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="dbox w-100 text-center">
                <div class="icon d-flex align-items-center justify-content-center">
                    <span class="fa fa-phone"></span>
                </div>
                <div class="text">
                    <p><span>Telefono:</span> 0351 - 156522658</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="dbox w-100 text-center">
                <div class="icon d-flex align-items-center justify-content-center">
                    <span class="fa fa-paper-plane"></span>
                </div>
                <div class="text">
                    <p>info@giftcardhernando.com</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="dbox w-100 text-center">
                <div class="icon d-flex align-items-center justify-content-center">
                    <span class="fa fa-globe"></span>
                </div>
                <div class="text">
                    <p>giftcardhernando.com.ar</p>
                </div>
            </div>
        </div>
    </div>
</div>