<div class="fpdiv text-light">
    <div class="container">
        <h1 class="text-light">¿Cómo usar mi Gift Card?</h1>
        <br>
        <h4 class="text-light">Es sencillo, sigue estos pasos: <br> Selecciona el monto de la GiftCard que deseas comprar <br> Si no tienes cuenta, debes crear una para poder comprar <br> El monto total del la giftcard queda cargado en tu cuenta <br> El saldo remanente quedará
            abonado para futuras compras <br> Solo una persona puede ocupar la gift card <br> Desde la fecha de validación, tienes 2 años para ocupar el saldo total de la giftcard. <br><br>
        </h4>
    </div>
</div>