<div class="fpdiv text-light">
    <div class="container">
        <h1 class="text-light">¿Cómo usar mi Gift Card?</h1>
        <br>
        <h4 class="text-light">Es sencillo, sigue estos pasos: <br><br> Registra tu cuenta en siemples pasos o ingresa con tu cuenta de Google <br><br> Selecciona el monto de la GiftCard que deseas comprar <br><br> Te llegara a tu domicilio la Gift solicitada <br><br> Solo
            una persona puede utilizar la gift card <br><br> Desde la fecha de compra, tienes 2 años para utilizar tu giftcard. <br><br>
        </h4>
    </div>
</div>