<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/home">
            <img src="assets/images/LOGOGC.PNG" sizes="70" width="70">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" routerLinkActive="true">
                    <a class="nav-link" routerLink="home">Home</a>
                </li>
                <li class="nav-item" routerLinkActive="true">
                    <a class="nav-link" routerLink="comofunciona">¿Como la utilizo?</a>
                </li>
                <li class="nav-item" routerLinkActive="true">
                    <a class="nav-link" routerLink="participantes">Comercios Participantes</a>
                </li>
                <li class="nav-item" routerLinkActive="true">
                    <a class="nav-link" routerLink="tengocomercio">Tengo un Comercio</a>
                </li>
                <li class="nav-item" routerLinkActive="true">
                    <a class="nav-link" routerLink="about">Nosotros</a>
                </li>
            </ul>
        </div>
        <form>
            <button class="btn btn-primary" type="submit" routerLink="login">Ingresar</button>
        </form>
    </div>
</nav>
<div class="container">
    <hr>
</div>