<div class="row ">
    <!-- Column -->
    <div class="col-lg-3 col-md-6 ">
        <div class="card bg-primary ">
            <div class="card-body ">
                <div class="d-flex ">
                    <div>
                        <h4 class="card-title text-white ">Venta Total</h4>
                        <h6 class="card-subtitle text-white ">${{totalVendido()}}</h6>
                    </div>
                    <div class="ml-auto ">
                        <button type="button " class="btn btn-primary dropdown-toggle p-0 " data-toggle="dropdown " aria-haspopup="true " aria-expanded="false ">
                                    <i class="icon-settings "></i>
                                </button>
                        <div class="dropdown-menu dropdown-menu-right ">
                            <a class="dropdown-item " href="javascript:void(0) ">Action</a>
                            <a class="dropdown-item " href="javascript:void(0) ">Another action</a>
                            <a class="dropdown-item " href="javascript:void(0) ">Something else here</a>
                        </div>
                    </div>
                </div>
                <div id="spark4 "></div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-3 col-md-6 ">
        <div class="card bg-info ">
            <div class="card-body ">
                <div class="d-flex ">
                    <div>
                        <h4 class="card-title text-white ">Venta Mensual</h4>
                        <h6 class="card-subtitle text-white ">${{totalVentas}}</h6>
                    </div>
                    <div class="ml-auto ">
                        <button type="button " class="btn btn-info dropdown-toggle p-0 " data-toggle="dropdown " aria-haspopup="true " aria-expanded="false ">
                                    <i class="icon-settings "></i>
                                </button>
                        <div class="dropdown-menu dropdown-menu-right ">
                            <a class="dropdown-item " href="javascript:void(0) ">Action</a>
                            <a class="dropdown-item " href="javascript:void(0) ">Another action</a>
                            <a class="dropdown-item " href="javascript:void(0) ">Something else here</a>
                        </div>
                    </div>
                </div>
                <div id="spark5 "></div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-3 col-md-6 ">
        <div class="card bg-success ">
            <div class="card-body ">
                <div class="d-flex ">
                    <div>
                        <h4 class="card-title text-white ">Weekly Sales</h4>
                        <h6 class="card-subtitle text-white ">$9432</h6>
                    </div>
                    <div class="ml-auto ">
                        <button type="button " class="btn btn-success dropdown-toggle p-0 " data-toggle="dropdown " aria-haspopup="true " aria-expanded="false ">
                                    <i class="icon-settings "></i>
                                </button>
                        <div class="dropdown-menu dropdown-menu-right ">
                            <a class="dropdown-item " href="javascript:void(0) ">Action</a>
                            <a class="dropdown-item " href="javascript:void(0) ">Another action</a>
                            <a class="dropdown-item " href="javascript:void(0) ">Something else here</a>
                        </div>
                    </div>
                </div>
                <div id="spark6 "></div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-3 col-md-6 ">
        <div class="card bg-warning ">
            <div class="card-body ">
                <div class="d-flex ">
                    <div>
                        <h4 class="card-title text-white ">Daily Sales</h4>
                        <h6 class="card-subtitle text-white ">$9432</h6>
                    </div>
                    <div class="ml-auto ">
                        <button type="button " class="btn btn-warning dropdown-toggle p-0 " data-toggle="dropdown " aria-haspopup="true " aria-expanded="false ">
                                    <i class="icon-settings "></i>
                                </button>
                        <div class="dropdown-menu dropdown-menu-right ">
                            <a class="dropdown-item " href="javascript:void(0) ">Action</a>
                            <a class="dropdown-item " href="javascript:void(0) ">Another action</a>
                            <a class="dropdown-item " href="javascript:void(0) ">Something else here</a>
                        </div>
                    </div>
                </div>
                <div id="spark7 "></div>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>
<div class="row">
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="row p-t-10 p-b-10">
                    <!-- Column -->
                    <div class="col p-r-0">
                        <h1 class="font-light">{{totalUsuarios}}</h1>
                        <h6 class="text-muted">Total de Usuarios</h6>
                    </div>
                    <!-- Column -->
                    <div class="col text-right align-self-center">
                        <div data-label="20%" class="css-bar m-b-0 css-bar-primary css-bar-20"><i class="mdi mdi-account-circle"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="row p-t-10 p-b-10">
                    <!-- Column -->
                    <div class="col p-r-0">
                        <h1 class="font-light">{{comercios.length}}</h1>
                        <h6 class="text-muted">Total de Comercios</h6>
                    </div>
                    <!-- Column -->
                    <div class="col text-right align-self-center">
                        <div data-label="30%" class="css-bar m-b-0 css-bar-danger css-bar-20"><i class="mdi mdi-briefcase-check"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="row p-t-10 p-b-10">
                    <!-- Column -->
                    <div class="col p-r-0">
                        <h1 class="font-light">{{transacciones.length}}</h1>
                        <h6 class="text-muted">Total de Transacciones</h6>
                    </div>
                    <!-- Column -->
                    <div class="col text-right align-self-center">
                        <div data-label="40%" class="css-bar m-b-0 css-bar-warning css-bar-40"><i class="mdi mdi-star-circle"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="row p-t-10 p-b-10">
                    <!-- Column -->
                    <div class="col p-r-0">
                        <h1 class="font-light">{{solicitudes.length}}</h1>
                        <h6 class="text-muted">Total de Solicitudes</h6>
                    </div>
                    <!-- Column -->
                    <div class="col text-right align-self-center">
                        <div data-label="60%" class="css-bar m-b-0 css-bar-info css-bar-60"><i class="mdi mdi-receipt"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>
<!-- Row -->
<!-- Row -->
<!-- Row -->
<div class="row">
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-row">
                    <div class="round align-self-center round-success"><i class="ti-wallet"></i></div>
                    <div class="m-l-10 align-self-center">
                        <h3 class="m-b-0">${{totalVendido()}}</h3>
                        <h5 class="text-muted m-b-0">Total de ventas</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-row">
                    <div class="round align-self-center round-info"><i class="ti-user"></i></div>
                    <div class="m-l-10 align-self-center">
                        <h3 class="m-b-0">{{totalUsuarios}}</h3>
                        <h5 class="text-muted m-b-0">Users</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-row">
                    <div class="round align-self-center round-danger"><i class="ti-calendar"></i></div>
                    <div class="m-l-10 align-self-center">
                        <h3 class="m-b-0">20 march</h3>
                        <h5 class="text-muted m-b-0">My birthday</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-row">
                    <div class="round align-self-center round-success"><i class="ti-settings"></i></div>
                    <div class="m-l-10 align-self-center">
                        <h3 class="m-b-0">6540</h3>
                        <h5 class="text-muted m-b-0">pending</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>
<!-- Row -->
<!-- Row -->

<!-- Row -->
<!-- Row -->
<div class="row">
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="row">
                <div class="col-12">
                    <div class="social-widget">
                        <div class="soc-header box-facebook"><i class="fa fa-map-marker"></i></div>
                        <div class="soc-content">
                            <div>
                                <h3 class="font-medium">456</h3>
                                <h5 class="text-muted ">Usuarios</h5>
                                <h5 class="text-muted">Registrados Manualmente</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="row">
                <div class="col-12">
                    <div class="social-widget">
                        <div class="soc-header box-google"><i class="fa fa-google-plus"></i></div>
                        <div class="soc-content">
                            <div>
                                <h3 class="font-medium "></h3>
                                <h5 class="text-muted ">Usuarios</h5>
                                <h5 class="text-muted ">Registrados con Google</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-3 col-md-6 ">
        <div class="card ">
            <div class="row ">
                <div class="col-12 ">
                    <div class="social-widget ">
                        <div class="soc-header box-twitter "><i class="fa fa-map-marker "></i></div>
                        <div class="soc-content ">
                            <div>
                                <h3 class="font-medium ">456</h3>
                                <h5 class="text-muted ">Usuarios</h5>
                                <h5 class="text-muted ">Registrados con Google</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-3 col-md-6 ">
        <div class="card ">
            <div class="row ">
                <div class="col-12 ">
                    <div class="social-widget ">
                        <div class="soc-header box-linkedin "><i class="fa fa-linkedin "></i></div>
                        <div class="soc-content ">
                            <div class="col-6 b-r ">
                                <h3 class="font-medium ">456</h3>
                                <h5 class="text-muted ">Contacts</h5>
                            </div>
                            <div class="col-6 ">
                                <h3 class="font-medium ">456</h3>
                                <h5 class="text-muted ">Posts</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>
<!-- Row -->
<!-- Column -->
<!-- Column -->
<!-- Row -->
<!-- Row -->
<!-- Row -->
<!-- Row -->
<!-- Row -->

<!-- Row -->
<div class="row ">
    <!-- Column -->
    <div class="col-md-6 col-lg-4 col-xlg-2 ">
        <div class="card ">
            <div class="box bg-info text-center ">
                <h1 class="font-light text-white ">2,064</h1>
                <h6 class="text-white ">Sessions</h6>
            </div>
        </div>
    </div>
    <!-- Column -->
    <div class="col-md-6 col-lg-4 col-xlg-2 ">
        <div class="card ">
            <div class="box bg-primary text-center ">
                <h1 class="font-light text-white ">1,738</h1>
                <h6 class="text-white ">Users</h6>
            </div>
        </div>
    </div>
    <!-- Column -->
    <div class="col-md-6 col-lg-4 col-xlg-2 ">
        <div class="card ">
            <div class="box bg-success text-center ">
                <h1 class="font-light text-white ">5963</h1>
                <h6 class="text-white ">Page Views</h6>
            </div>
        </div>
    </div>
    <!-- Column -->
    <div class="col-md-6 col-lg-4 col-xlg-2 ">
        <div class="card ">
            <div class="box bg-dark text-center ">
                <h1 class="font-light text-white ">2.9s</h1>
                <h6 class="text-white ">Pages/Session</h6>
            </div>
        </div>
    </div>
    <!-- Column -->
    <div class="col-md-6 col-lg-4 col-xlg-2 ">
        <div class="card ">
            <div class="box bg-megna text-center ">
                <h1 class="font-light text-white ">${{totalVendido()/transacciones.length}}</h1>
                <h6 class="text-white ">Monto promedio de Gift compradas</h6>
            </div>
        </div>
    </div>
    <!-- Column -->
    <div class="col-md-6 col-lg-4 col-xlg-2 ">
        <div class="card ">
            <div class="box bg-warning text-center ">
                <h1 class="font-light text-white ">10%</h1>
                <h6 class="text-white ">Bounce Rate</h6>
            </div>
        </div>
    </div>
</div>
<!-- Row -->
<!-- Row -->
<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Right sidebar -->
<!-- ============================================================== -->
<!-- .right-sidebar -->
<div class="right-sidebar ">
    <div class="slimscrollright ">
        <div class="rpanel-title "> Service Panel <span><i class="ti-close right-side-toggle "></i></span> </div>
        <div class="r-panel-body ">
            <ul id="themecolors " class="m-t-20 ">
                <li><b>With Light sidebar</b></li>
                <li><a href="javascript:void(0) " data-theme="default " class="default-theme ">1</a></li>
                <li><a href="javascript:void(0) " data-theme="green " class="green-theme ">2</a></li>
                <li><a href="javascript:void(0) " data-theme="red " class="red-theme ">3</a></li>
                <li><a href="javascript:void(0) " data-theme="blue " class="blue-theme ">4</a></li>
                <li><a href="javascript:void(0) " data-theme="purple " class="purple-theme ">5</a></li>
                <li><a href="javascript:void(0) " data-theme="megna " class="megna-theme ">6</a></li>
                <li class="d-block m-t-30 "><b>With Dark sidebar</b></li>
                <li><a href="javascript:void(0) " data-theme="default-dark " class="default-dark-theme working ">7</a></li>
                <li><a href="javascript:void(0) " data-theme="green-dark " class="green-dark-theme ">8</a></li>
                <li><a href="javascript:void(0) " data-theme="red-dark " class="red-dark-theme ">9</a></li>
                <li><a href="javascript:void(0) " data-theme="blue-dark " class="blue-dark-theme ">10</a></li>
                <li><a href="javascript:void(0) " data-theme="purple-dark " class="purple-dark-theme ">11</a></li>
                <li><a href="javascript:void(0) " data-theme="megna-dark " class="megna-dark-theme ">12</a></li>
            </ul>
            <ul class="m-t-20 chatonline ">
                <li><b>Chat option</b></li>
                <li>
                    <a href="javascript:void(0) "><img src="../assets/images/users/1.jpg " alt="user-img " class="img-circle "> <span>Varun Dhavan <small class="text-success ">online</small></span></a>
                </li>
                <li>
                    <a href="javascript:void(0) "><img src="../assets/images/users/2.jpg " alt="user-img " class="img-circle "> <span>Genelia Deshmukh <small class="text-warning ">Away</small></span></a>
                </li>
                <li>
                    <a href="javascript:void(0) "><img src="../assets/images/users/3.jpg " alt="user-img " class="img-circle "> <span>Ritesh Deshmukh <small class="text-danger ">Busy</small></span></a>
                </li>
                <li>
                    <a href="javascript:void(0) "><img src="../assets/images/users/4.jpg " alt="user-img " class="img-circle "> <span>Arijit Sinh <small class="text-muted ">Offline</small></span></a>
                </li>
                <li>
                    <a href="javascript:void(0) "><img src="../assets/images/users/5.jpg " alt="user-img " class="img-circle "> <span>Govinda Star <small class="text-success ">online</small></span></a>
                </li>
                <li>
                    <a href="javascript:void(0) "><img src="../assets/images/users/6.jpg " alt="user-img " class="img-circle "> <span>John Abraham<small class="text-success ">online</small></span></a>
                </li>
                <li>
                    <a href="javascript:void(0) "><img src="../assets/images/users/7.jpg " alt="user-img " class="img-circle "> <span>Hritik Roshan<small class="text-success ">online</small></span></a>
                </li>
                <li>
                    <a href="javascript:void(0) "><img src="../assets/images/users/8.jpg " alt="user-img " class="img-circle "> <span>Pwandeep rajan <small class="text-success ">online</small></span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Right sidebar -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- footer -->
<!-- ============================================================== -->




-Emitir un listado con las tarjetas regalo solicitadas por monto en el mes
<br> -Emitir un listado con la ganancia por cada tarjeta regalo en el mes hola hola