<div class="row">
    <div class="col-4">
        <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active">Tecnologia</a>
            <a class="list-group-item">Epoka</a>
            <a class="list-group-item">Petenatti</a>
            <a class="list-group-item">Roverval</a>
            <a class="list-group-item">Agricola Jose Verra</a>
        </div>
        <button type="button" class="btn btn-outline-primary form-control">
            Ver Mas...
        </button>
    </div>
    <div class="col-4">
        <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active">Tecnologia</a>
            <a class="list-group-item">Epoka</a>
            <a class="list-group-item">Petenatti</a>
            <a class="list-group-item">Roverval</a>
            <a class="list-group-item">Agricola Jose Verra</a>
        </div>
        <button type="button" class="btn btn-outline-primary form-control">
            Ver Mas...
        </button>
    </div>
    <div class="col-4">
        <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active">Tecnologia</a>
            <a class="list-group-item">Epoka</a>
            <a class="list-group-item">Petenatti</a>
            <a class="list-group-item">Roverval</a>
            <a class="list-group-item">Agricola Jose Verra</a>
        </div>
        <button type="button" class="btn btn-outline-primary form-control">
            Ver Mas...
        </button>
    </div>
</div>