<div class="card-body">
    <h4 class="card-title">Mis Transacciones</h4>
    <h6 class="card-subtitle">Detallles</h6>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Fecha de compra</th>
                    <th>Monto en AR$</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Juan Cravero</td>
                    <td>03/06/2021</td>
                    <td>$500</td>
                    <td><span class="label label-danger">Utilizada</span> </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Juan Cravero</td>
                    <td>03/06/2021</td>
                    <td>$1000</td>
                    <td><span class="label label-success">Activa</span> </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Juan Cravero</td>
                    <td>03/06/2021</td>
                    <td>$5000</td>
                    <td><span class="label label-success">Activa</span> </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>