/* You can add global styles to this file, and also import other style files */

footer {
    color: white;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

#google-btn {
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}

.fast {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.cursor {
    cursor: pointer;
}

.img-avatar {
    width: 200px;
    height: 200px;
}

.w100 {
    width: 100px;
}

.w101 {
    width: 120px;
}

.w140 {
    width: 140px;
}

.avatar {
    width: 30px;
    border-radius: 100%;
}

.sidebarColor {
    background-color: #6367F0;
}

.center {
    text-align: center;
    align-items: center;
    align-content: center;
}

#content {
    background-image: url('./assets/images/background/desk.jpg');
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 1160px;
    margin-left: auto;
    margin-right: auto;
}

.fotoGift {
    border-radius: 15px;
}

.fpdiv {
    background-color: gray;
    opacity: 80%;
    border-radius: 15px;
}

.celeste {
    background-color: #b8b9f0;
}