<div class="text-white fpdiv">
    <div class="container">
        <h2 class="text-white">
            ¿Cómo ingreso a mi cuenta?
        </h2>
        Podés ingresar a tu cuenta si ingresas a tu perfil https://www.giftcardhernando.com.ar/login/ El ingreso lo podés hacer con gmail o tu mail. Recordá que hacerlo con el mismo mail con el que registraste la primera vez para poder ver tu regalo o tu compra.
        <br><br>
        <h2 class="text-white">
            Mi tarjeta etsa por vencer ¿Puedo extender su vencimiento?</h2>
        El crédito funciona como dinero virtual y el vencimiento indica hasta que fecha tenés tiempo para elegir donde cambiarla. Podrás adquirir cualquier giftCardHernando que se encuentre disponible en nuestra web que tendrá fecha de vencimiento a la venta,
        por lo que podes comprar ahora y realizar la experiencia más adelante. <br><br>
        <h2 class="text-white">
            ¿Las giftCardHernando incluyen delivery?
        </h2>
        La mayoría de las propuestas En Casa incluyen envío pero cada experiencia entrega dentro de una rango determinado. Podés ver si tenés opciones con entrega a tu domicilio si entrás al catálogo y luego en el mapa. <br><br>
        <h2 class="text-white">Perdí la tarjeta qué puedo hacer?</h2>
        Una vez que registres el código Bigbox en nuestra web siempre vas a poder ver el mismo y descargarlo si ingresas en tu panel. Tenés que ingresar en https://www.bigbox.com.ar/ingresar/ con tu mail y contraseña y luego en tus regalos recibidos https://www.giftcardhernando.com.ar/regalar/
        Si no la habías registrado la única forma en que podemos rastrear es que nos indiques los datos completos de la compra. <br><br>
        <h2 class="text-white"> ¿Puedo cambiar mi regalo GiftCard?
        </h2>
        Podés cambiar tu GiftCard por cualquier otro de nuestros regalos. Si el que elegís tiene un valor superior al que tenés, deberás abonar la diferencia. Si es menor, te quedará crédito a favor en tu cuenta, válido por un año. La fecha de vencimiento de
        la Bigbox que elijas será el de las Bigbox a la venta actualmente (11/11/2021 para la mayoría de las Bigbox). Realizar un cambio es muy simple. Primero abrí el código de tu regalo, luego ingresá en tu panel de usuario >> "Tus regalos Recibidos"
        y hace click en cambiar regalo. Te recomendamos que mires antes todos los regalos para ver que ofrece cada Bigbox para que cuando llegues a este paso ya sepas cual querés. Si elegís una de mayor valor tendrás que abonar la diferencia desde el
        sitio ya sea con tarjeta, rapipago, o el medio de pago que elijas.
    </div>
</div>