<div class="text-white fpdiv">
    <div class="container">
        <h2 class="text-white">
            ¿Cómo ingreso a mi cuenta?
        </h2>
        Podés ingresar a tu cuenta si ingresas a tu perfil https://www.giftcardhernando.com.ar/login/ El ingreso lo podés hacer con gmail o tu mail personal. Recordá que hacerlo con el mismo mail con el que registraste la primera vez para poder ver tu regalo
        o tu compra.
        <br><br>
        <h2 class="text-white">
            ¿Las giftCardHernando incluyen delivery?
        </h2>
        Si incluye envío sin costo. Desde el momento de la compra hasta 72 hs habiles podras recibir la gift en tu domicilio.<br><br>
        <h2 class="text-white">Perdí la tarjeta qué puedo hacer?</h2>
        Podes comunicarte al 0353-156225885 o al correo info@giftcardhernando.com.ar y solicitar un nuevo envio con un costo adicional.<br><br>
        <h2 class="text-white"> ¿Puedo modificar el monto de mi regalo GiftCard?
        </h2>
        Podés realizar cambios en tu GiftCard comunicandote al 0353-156225885 o al correo info@giftcardhernando.com.ar.<br><br>
        <h2 class="text-white"> ¿Puedo solicitar envìo a un domiciolio como regalo?
        </h2>
        Podés abonar tu gift mediante mercadopago o en nuestro local en la calle 1ro de mayo 378 y dejamos registrada la direccion de entrega que correra por nuestra cuenta, ante cualquier duda comunicante al 0353-156225885 o al correo info@giftcardhernando.com.ar.
    </div>
</div>